@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;
    }

    main{
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }


    nav ul li {
        margin: 10px 0
    }

    #increva-se-btn{
        margin-top: 20px;
        align-self: center;
    }
    a{
        margin-right: 2px;
    }

    h2{
        font-size: 38px;
        line-height: 1.2em;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }
    form [type="submit"]{
        width: 100%;
        height: 50px;
    }

    #title{
        text-align: center;
    }

    input{
        align-items: center;
    }

    img{
        margin-top: 10%;
        width: 360px;align-items: center;
    }

    ul{
        text-align: center;
    }

    li{
        margin: 10px;
    }

    h2, p, #title{
        overflow-wrap: break-word;
        white-space: normal;
    }
}
